<mat-card>
    <mat-card-content>
        <h1 dir="ltr">{{allDataLeft?.title}}
            <mat-icon class="account_circle" >account_circle</mat-icon>
            <button class="b">
                <mat-icon class="material-symbols-outlined">more</mat-icon>
                {{allDataLeft?.tag}}</button>
        </h1>
        
        
        <div dir="ltr">
            <img src='{{p}}' alt='תמונה' class="picter"/>
            {{allDataLeft?.infoText}}
        </div>
    </mat-card-content>
  </mat-card>
  

